.advantage__container {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.advantage__wrapper {
  background-color: #ffffff;
  background-image: linear-gradient(175deg, #ffffff 10%, #ffffff 20%, #f2f2f2 20%);
}

.advantage__description {
  margin: 0;
  font-size: 24px;
  line-height: 1.2;
  padding: 0 20px;
  text-align: center;
  margin-bottom: 29px;
}

.advantage__description--large-margin {
  margin-bottom: 114px;
}

.advantage__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 13px;
}

.advantage__item {
  text-align: center;
  margin-bottom: 2px;
}

.advantage__title {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 11px;
}

.advantage__description--small {
  font-size: 14px;
  padding: 0 35px;
  line-height: 24px;
}

.advantage__image {
  display: block;
}

.advantage__image-wrapper {
  position: relative;
  padding: 0 80px;
}

/*Стили для планшета*/

@media (min-width: @tablet-width) {
  .advantage__container {
    width: 660px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }
}

@media (min-width: @tablet-width) {
  .advantage__wrapper {
    background-color: #ffffff;
    background-image: linear-gradient(175deg, #ffffff 20%, #ffffff 34%, #f2f2f2 34%);
  }
}


@media (min-width: @tablet-width) {
  .advantage__description {
    padding: 0 25px;
    margin: 0;
  }
}

@media (min-width: @tablet-width) {
  .advantage__description--big-title {
    font-size: 40px;
  }
}

@media (min-width: @tablet-width) {
  .advantage__description--large-padding {
    padding: 0 160px;
  }
}

@media (min-width: @tablet-width) {
  .advantage__list {
    justify-content: flex-end;
    margin-bottom: 13px;
  }
}

@media (min-width: @tablet-width) {
  .advantage__item {
    text-align: right;
    margin-bottom: 34px;
  }
}

@media (min-width: @tablet-width) {
  .advantage__description--left {
    text-align: left;
    font-size: 14px;
    line-height: 24px;
    width: 300px;
    padding-left: 6px;
  }
}

@media (min-width: @tablet-width) {
  .advantage__image {
    display: block;
    position: absolute;
    bottom: 0;
    left: 20px;
  }
}

@media (min-width: @tablet-width) {
  .advantage__description--large-margin {
    margin: 0;
    padding: 0 40px;
    margin-bottom: 121px;
  }
}

@media (min-width: @tablet-width) {
  .advantage__title {
    margin: 0;
    text-align: left;
    margin-bottom: 12px;
  }
}

@media (min-width: @tablet-width) {
  .advantage {
    margin-bottom: 67px;
  }
}


// /*Стилизация для пк*/
//
// @media (min-width: @desktop-width) {
//   .advantage__container {
//     width: 1200px;
//     margin: 0 auto;
//     padding: 0;
//     box-sizing: border-box;
//   }
// }
//
// @media (min-width: @desktop-width) {
//   .advantage__description {
//     font-size: 18px;
//     padding: 0 25px;
//     line-height: 30px;
//   }
// }
//
// @media (min-width: @desktop-width) {
//   .advantage__description--big-title {
//     font-size: 50px;
//     padding: 0 25px;
//   }
// }
//
// @media (min-width: @desktop-width) {
//   .advantage__item {
//     text-align: center;
//   }
// }
//
// @media (min-width: @desktop-width) {
//   .advantage__description--right {
//     text-align: center;
//   }
// }
//
// @media (min-width: @desktop-width) {
//   .advantage__image-wrapper {
//     display: none;
//   }
// }
//
// @media (min-width: @desktop-width) {
//   .advantage__title {
//     font-size: 30px;
//     line-height: 30px;
//   }
// }
