.advantage__container {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.advantage__wrapper {
  background-color: #ffffff;
  background-image: linear-gradient(175deg, #ffffff 15%, #f2f2f2 15%);
}

.advantage__description {
  font-size: 24px;
  line-height: 1.2;
  padding: 0 20px;
  text-align: center;
}

.advantage__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantage__item {
  text-align: center;
}

.advantage__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.advantage__description--small {
  font-size: 14px;
  padding: 0 40px;
  line-height: 24px;
}

.advantage__image {
  display: block;
}

.advantage__image-wrapper {
  position: relative;
  padding: 0 80px;
}

/*Стили для планшета*/

@media (min-width: @tablet-width) {
  .advantage__container {
    width: 660px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }
}

@media (min-width: @tablet-width) {
  .advantage__description {
    font-size: 24px;
    line-height: 1.2;
    padding: 0 25px;
    text-align: center;
  }
}

@media (min-width: @tablet-width) {
  .advantage__description--large-padding {
    padding: 0 160px;
  }
}

@media (min-width: @tablet-width) {
  .advantage__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}

@media (min-width: @tablet-width) {
  .advantage__item {
    text-align: right;
  }
}

@media (min-width: @tablet-width) {
  .advantage__description--right {
    text-align: right;
    font-size: 14px;
    line-height: 24px;
    width: 310px;
  }
}

@media (min-width: @tablet-width) {
  .advantage__image {
    display: block;
    position: absolute;
    bottom: 0;
    left: 20px;
  }
}

/*Стилизация для пк*/

@media (min-width: @desktop-width) {
  .advantage__container {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }
}

@media (min-width: @desktop-width) {
  .advantage__description {
    font-size: 18px;
    padding: 0 25px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .advantage__description--big-title {
    font-size: 50px;
    padding: 0 25px;
  }
}

@media (min-width: @desktop-width) {
  .advantage__item {
    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .advantage__description--right {
    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .advantage__image-wrapper {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .advantage__title {
    font-size: 30px;
    line-height: 30px;
  }
}
