.competition__container {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.competition__wrapper {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 -70px;
}

.competition__title {
  margin: 0;
  color: @base-color;
  padding: 0 40px;
  padding-top: 30px;
  padding-bottom: 54px;
  text-align: center;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 100;
}

.competition {
  margin-bottom: 50px;
}

/*Стили для планшета*/

@media (min-width: @tablet-width) {
  .competition__container {
    width: 660px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }
}

@media (min-width: @tablet-width) {
  .competition__wrapper {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 331px;
    background-position: -270px -109px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
    }
  }
}

@media (min-width: @tablet-width) {
  .competition__title {
    margin: 0;
    color: @base-color;
    padding: 71px 40px;
    text-align: center;
    font-size: 50px;
    line-height: 1.2;
    font-weight: 100;
  }
}

/*Стили для пк*/

@media (min-width: @desktop-width) {
  .competition__container {
    width: 1200px;
  }
}

@media (min-width: @desktop-width) {
  .competition__wrapper {
    background-image: url("../img/bg-back-desktop@1x.jpg 1x");
    width: 1200px;
    height: 394px;
    background-position: -680px 0;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg 2x");
      background-size: 1200px auto;
    }
  }
}

@media (min-width: @desktop-width) {
  .competition__title {
    padding: 0 80px;
    padding-top: 173px;
    padding-bottom: 100px;
  }
}
