.competition__container {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.competition__wrapper {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 -70px;
  margin-bottom: 45px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

.competition__title {
  margin: 0;
  color: @base-color;
  padding: 0 40px;
  padding-top: 30px;
  padding-bottom: 54px;
  text-align: center;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 100;
}

.competition__title--tablet {
  display: none;
}

.competition {
  margin-bottom: 59px;
}

.competition__title--small {
  font-size: 14px;
  line-height: 30px;
  color: @alt-color;
  padding: 0 25px;
  margin-bottom: 38px;
}

.competition__identification,
.competition__achievements {
  border: none;
  margin: 0;
  padding: 0;
}

.competition__identification {
  margin-bottom: 21px;
}

.competition__surname,
.competition__name,
.competition__patronymic {
  color: @like-color;
  text-transform: uppercase;
  display: block;
  margin-left: 43px;
}

.competition__surname {
    margin-bottom: 7px;
}

.competition__name {
  margin-bottom: 7px;
}

.competition__patronymic {
  margin-bottom: 7px;
}

.competition__field {
  width: 255px;
  display: block;
  padding: 19px 0;
  font-size: 18px;
  margin: 0 auto;
  padding-left: 21px;
}

.competition__initial {
  display: block;
  margin-bottom: 22px;
}

.competition__achievements {
  background-color: #f2f2f2;
  margin-bottom: 30px;
}

.competition__legend {
  color: @like-color;
  text-transform: uppercase;
  text-align: center;
  padding: 0 45px;
  padding-top: 38px;
  line-height: 18px;
  background-color: #f2f2f2;
  margin-bottom: 43px;
}

.competition__controls-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.competition__controls-item {
  margin-bottom: 52px;
}

.competition__chekbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  width: 20px;
  height: 20px;
  // top: -2px;
  // left: -35px;
  // background-image: url("../img/checkbox-off.svg");
  // background-repeat: no-repeat;
  // width: 23px;
  // height: 23px;
  // opacity: 0.4;
}

.competition__chekbox {
  position: relative;
}

.competition__chekbox-title {
  font-size: 18px;
  padding-left: 90px;
  line-height: 30px;
}

.competition__chekbox-title::before {
  content: "";
  position: absolute;
  left: 21px;
  top: -9px;
  width: 33px;
  height: 33px;
  border: 2px solid #eeeeee;
  background-color: #ffffff;
}

.competition__contacts {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
}

.competition__phone,
.competition__email {
  color: @like-color;
  text-transform: uppercase;
  display: block;
  margin-left: 43px;
  margin-bottom: 9px;
}

.competition__contact-field {
  width: 255px;
  display: block;
  padding: 19px 0;
  font-size: 18px;
  margin: 0 auto;
  padding-left: 21px;
}

.competition__contact {
  display: block;
  margin-bottom: 20px;
}

.competition__contact--margin {
  display: block;
  margin-bottom: 21px;
}

.competition__apps {
  border: none;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  margin-bottom: 40px;
}

.competition__apps-legend {
  color: @like-color;
  text-transform: uppercase;
  text-align: center;
  padding: 0 45px;
  padding-top: 38px;
  line-height: 18px;
  background-color: #f2f2f2;
  margin-bottom: 39px;
}

.competition__controls-list-radio {
  list-style: none;
  padding: 0;
  margin: 0;
}

.competition__controls-item-radio {
  margin-bottom: 45px;
}

.competition__radio {
  position: relative;
}

.competition__radio-title {
  font-size: 18px;
  padding-left: 90px;
  line-height: 30px;
}

.competition__radio-title::before {
  content: "";
  position: absolute;
  left: 21px;
  top: -9px;
  width: 33px;
  height: 33px;
  border: 2px solid #eeeeee;
  background-color: #ffffff;
  border-radius: 50%;
}

.competition__emotion {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 47px;
}

.competition__emotion-legend {
  color: @like-color;
  text-transform: uppercase;
  text-align: center;
  line-height: 18px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.competition__emotion-description {
  display: block;
  margin: 0 auto;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  resize: none;
  width: 272px;
  min-height: 195px;
}

.competition__button {
  display: block;
  border: none;
  background-color: #2aab6d;
  border-radius: 2px;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 auto;
  padding: 16px 46px;
  margin-bottom: 38px;
}

.competition__required {
  padding: 0;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.competition__star {
 color: @like-color;
}

.competition__contacts-legend {
  display: none;
}

.competition__required-desktop {
  display: none;
}

/*Стили для планшета*/

@media (min-width: @tablet-width) {
  .competition__container {
    width: 660px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }
}

@media (min-width: @tablet-width) {
  .competition__wrapper {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 331px;
    background-position: -270px -109px;
    margin-bottom: 92px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
    }
  }
}

@media (min-width: @tablet-width) {

  .competition__filters {
    display: flex;
    flex-direction: column;
    margin-bottom: 89px;
  }

  .competition__title {
    margin: 0;
    color: @base-color;
    padding: 0 40px;
    text-align: center;
    font-size: 50px;
    line-height: 1.2;
    font-weight: 100;
    padding-top: 71px;
  }

  .competition__title--small {
    padding: 0 60px;
    color: @alt-color;
    font-size: 18px;
    line-height: 30px;
  }

  .competition__title--tablet {
    display: block;
    padding: 0;
    margin: 0;
    color: @alt-color;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 72px;
  }

  .competition__identification {
    order: 1;
    margin-bottom: 8px;
  }

  .competition__initial {
    position: relative;
    margin-bottom: 52px;
  }

  .competition__surname {
    position: absolute;
    top: 21px;
    left: -22px;
  }

  .competition__name {
    position: absolute;
    top: 22px;
    left: -22px;
  }

  .competition__patronymic {
    position: absolute;
    top: 22px;
    left: -22px;
  }

  .competition__field {
    width: 500px;
    margin-right: 20px;
  }

  .competition__field--large {
    width: 541px;
  }

  .competition__apps {
    border: 2px solid #f2f2f2;
    background-color: #ffffff;
    width: 620px;
    margin: 0 auto;
    order: 2;
    margin-bottom: 58px;
  }

  .competition__apps-legend {
    background-color: #ffffff;
    margin: 0 auto;
    padding: 0;
  }

  .competition__controls-list-radio {
    padding-top: 47px;
    padding-bottom: 14px;
  }

  .competition__controls-item-radio {
    margin-left: 30px;
  }

  .competition__radio-title::before {
    left: 31px;
  }

  .competition__contacts {
    border: 2px solid #f2f2f2;
    position: relative;
    width: 620px;
    margin: 0 auto;
    order: 3;
    margin-bottom: 54px;
  }

  .competition__contacts-legend {
    display: block;
    margin: 0 auto;
    color: @like-color;
    text-transform: uppercase;
    text-align: center;
    line-height: 18px;
    margin-bottom: 37px;
  }

  .competition__phone {
    position: absolute;
    top: 75px;
    left: 36px;
  }

  .competition__email {
    position: absolute;
    top: 207px;
    left: 36px;
  }

  .competition__contact-field {
    width: 417px;
    margin: 0;
    margin-left: 59px;
  }

  .competition__contact {
    display: block;
    margin-bottom: 70px;
  }

  .competition__phone::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f2f2f2;
    top: -74px;
    right: -356px;
  }

  .competition__email::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f2f2f2;
    top: -74px;
    right: -386px;
  }

  .competition__achievements {
    order: 4;
    border: 2px solid #f2f2f2;
    background-color: #ffffff;
    width: 620px;
    margin: 0 auto;
    margin-bottom: 57px;
  }

  .competition__legend {
    margin: 0 auto;
    background-color: #ffffff;
    padding: 0;
    margin-bottom: 48px;
  }

  .competition__chekbox-title {
    padding-left: 118px;
  }

  .competition__chekbox-title::before {
    left: 60px;
  }

  .competition__emotion {
    order: 5;
    border: 2px solid #f2f2f2;
    width: 620px;
    margin: 0 auto;
    padding-bottom: 50px;
  }

  .competition__emotion-description {
    width: 496px;
    min-height: 172px;
    padding-top: 17px;
    text-align: left;
  }

  .competition__emotion-legend {
    margin-bottom: 39px;
  }

  .competition__wrapper-button {
    position: relative;
    margin-bottom: 105px;
  }

  .competition__button {
    position: absolute;
    top: -21px;
    left: 19px;
    padding: 16px 56px;
  }

  .competition__required {
    text-align: right;
    padding-right: 25px;
  }

  .competition__required-desktop {
    display: none;
  }

}


/*Стили для пк*/

@media (min-width: @desktop-width) {
  .competition__container {
    width: 1200px;
  }
}

@media (min-width: @desktop-width) {
  .competition__wrapper {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    width: 1200px;
    height: 394px;
    background-repeat: no-repeat;
    background-position: -680px 0;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg 2x");
      background-size: 1200px auto;
    }
  }
}

@media (min-width: @desktop-width) {
  .competition__title {
    padding: 0 80px;
    padding-top: 173px;
    padding-bottom: 100px;
  }

  .competition__title--small {
    padding: 0 215px;
    margin-bottom: 72px;
  }

  .competition__title--tablet {
    display: inline;
    padding: 0;
  }

  .competition__filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .competition__field {
    width: 315px;
  }

  .competition__initial {
    margin-left: 185px;
    margin-bottom: 54px;
  }

  .competition__initial:nth-child(3) {
    margin-bottom: 0px;
  }

  .competition__field--large {
    width: 356px;
  }

  .competition__surname {
    top: 20px;
    left: -98px;
  }

  .competition__name {
    top: 20px;
    left: -98px;
  }

  .competition__patronymic {
    top: 20px;
    left: -98px;
  }

  .competition__apps {
    width: 430px;
    margin: 0;
    margin-left: 51px;
  }

  .competition__identification {
    padding-top: 12px;
  }

  .competition__controls-list-radio {
    padding: 0;
    padding-top: 48px;
  }

  .competition__controls-item-radio {
    margin-left: 44px;
  }

  .competition__contacts {
    width: 938px;
    margin-top: 49px;
  }

  .competition__contact-wrapper {
    display: flex;
  }

  .competition__contact-field {
    width: 290px;
  }

  .competition__phone::after {
    top: -75px;
    right: -229px;
  }

  .competition__email::after {
    top: -74px;
    right: -259px;
  }

  .competition__contact:nth-child(2) {
    margin-left: 74px;
  }

  .competition__email {
    top: 74px;
    left: 482px;
  }

  .competition__contact {
    margin: 0;
    margin-bottom: 52px;
  }

  .competition__achievements {
    margin-top: 3px;
    width: 938px;
    padding-bottom: 8px;
  }

  .competition__controls-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .competition__controls-item:nth-child(1) {
    order: 1;
  }

  .competition__controls-item:nth-child(2) {
    order: 4;
  }

  .competition__controls-item:nth-child(3) {
    order: 2;
    margin-left: 6px;
  }

  .competition__controls-item:nth-child(4) {
    order: 5;
    margin-left: 43px;
  }

  .competition__controls-item:nth-child(5) {
    order: 3;
    margin-left: 3px;
  }

  .competition__controls-item:nth-child(6) {
    order: 6;
    margin-left: 12px;
  }

  .competition__emotion {
    width: 938px;
  }

  .competition__emotion-legend {
    margin-bottom: 34px;
  }

  .competition__emotion-description {
    width: 814px;
    min-height: 108px;
    padding-top: 17px;
    text-align: left;
  }

  .competition__emotion {
    padding-bottom: 41px;
  }

  .competition__button {
    top: -20px;
    left: 131px;
  }

  .competition__required-desktop {
    display: inline;
    color: @alt-color;
  }

  .competition__required {
    margin-right: 115px;
  }

  .competition__wrapper-button {
    margin-bottom: 88px;
  }

}
