.page-footer__container {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.page-footer {
  // display: none;
}

.page-footer__logo {
  display: block;
  margin-bottom: 40px;
}

.page-footer__logo-image {
  display: block;
  margin: 0 auto;
}

.page-footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 41px;
}

/*Стили для планшета*/

@media (min-width: @tablet-width) {
  .page-footer__container {
    width: 660px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
}

@media (min-width: @tablet-width) {
  .page-footer__logo {
    margin-left: 20px;
  }
}

@media (min-width: @tablet-width) {
  .page-footer__list {
    margin-left: 69px;
  }
}

/*Стилизация для пк*/

@media (min-width: @desktop-width) {
  .page-footer__container {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__logo {
    margin: 0;
    margin-left: 130px;
  }
}
