.page-footer__container {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.page-footer {
  display: none;
}

.page-footer__logo {
  // display: block;
  margin-bottom: 40px;
}

.page-footer__title {
  padding: 0;
  margin: 0;
}

.page-footer__logo-image {
  // display: block;
  margin: 0 auto;
}

.page-footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

/*Стили для планшета*/

@media (min-width: @tablet-width) {
  .page-footer__container {
    width: 660px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: block;
  }
}

/*Стилизация для планшета*/

@media (min-width: @desktop-width) {
  .page-footer__container {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    display: block;
  }
}
