.page-header__container {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

/*Стилизация для планшета*/

@media (min-width: @tablet-width) {
  .page-header__container {
    width: 660px;
  }
}

/*Стилизация для пк*/

@media (min-width: @desktop-width) {
  .page-header__container {
    position: relative;
    width: 1200px;
  }
}
