.post-write__wrapper {
  background-color: @bg-color-advantege;
}

.post-write__image {
  display: block;
}

.post-write__title {
  padding: 0;
  margin: 0;
  padding-left: 15px;
}

.post-write__wrapper--normal-size {
  margin: 0 20px;
}

.post-write__description {
  padding-left: 15px;
}

.post-write__description--red {
  color: @like-color;
  padding-left: 15px;
  text-transform: uppercase;
}

.post-write__description--heart {
  background-image: url("../img/img/mobile/icon_heart.svg");
  background-repeat: no-repeat;
  width: 13px;
  height: 12px;
  padding-right: 18px;
}

.post-write__name {
  font-weight: bold;
}

.post-write__time {
  font-weight: lighter;
}
