.post-write__wrapper {
  position: relative;
  background-color: @bg-color-advantege;
}

.post-write__image {
  display: block;
}

.post-write__title {
  padding: 0;
  margin: 0;
  padding-left: 18px;
  padding-top: 17px;
}

.post-write__wrapper--normal-size {
  margin: 0 20px;
}

.post-write__description {
  padding: 0;
  margin: 0;
  padding-left: 18px;
  margin-bottom: 10px;
}

.post-write__description--red {
  margin: 0;
  position: relative;
  color: @like-color;
  padding-left: 50px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 24px;
  padding-bottom: 21px;
}

.post-write__description--heart {
  margin: 0;
  position: absolute;
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  width: 13px;
  height: 12px;
  left: 18px;
  bottom: 26px;
}

.post-write__name {
  font-weight: bold;
}

.post-write__time {
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 12px;
}

/*Стили для планшета*/

@media (min-width: @tablet-width) {
  .post-write__wrapper-like {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: @tablet-width) {
  .post-write__description {
    margin: 0;
  }
}

@media (min-width: @tablet-width) {
  .post-write__description--red {
    padding-left: 3px;
    padding-top: 10px;
  }
}

@media (min-width: @tablet-width) {
  .post-write__wrapper-like--top {
    position: absolute;
    top: 15px;
    right: 0;
    width: 150px;
  }
}

@media (min-width: @tablet-width) {
  .post-write__description--heart {
    position: static;
    order: 1;
    margin-top: 15px;
    padding-right: 11px;
  }
}

@media (min-width: @tablet-width) {
  .post-write__wrapper {
    width: 300px;
    min-height: 155px;
  }
}

@media (min-width: @tablet-width) {
  .post-write__wrapper--normal-size {
    width: 620px;
    min-height: 121px;
    margin-bottom: 10px;
  }
}

@media (min-width: @tablet-width) {
  .post-write__image--right {
    position: relative;
    right: 20px;
  }
}

@media (min-width: @tablet-width) {
  .post-write__title {
    padding-left: 28px;
    padding-top: 24px;
  }
}

/*Стилизация для пк*/

@media (min-width: @desktop-width) {
  .post-write__description--red {
    position: static;
    top: 0;
    right: 0;
  }
}

@media (min-width: @desktop-width) {
  .post-write__wrapper--normal-size {
    width: 940px;
    margin: 0;
    margin-left: 129px;
    min-height: 96px;
    margin-bottom: 12px;
  }
}

@media (min-width: @desktop-width) {
  .post-write__image--right {
    position: relative;
    right: 0;
  }
}
