.posts__container {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.posts__wrapper {
  background-image: url("../img/mobile/cp_background_mobile.jpg");
  background-repeat: no-repeat;
  background-position: 0 -70px;
  margin-bottom: 45px;
}

.posts__title {
  margin: 0;
  padding: 30px;
  padding-bottom: 83px;
  color: @base-color;
  text-align: center;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 100;
}

.posts__description {
  margin: 0;
  text-align: center;
  padding: 0 40px;
  line-height: 30px;
  margin-bottom: 49px;
}

.posts__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*стили для планшета*/

@media (min-width: @tablet-width) {
  .posts__container {
    width: 660px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }
}

@media (min-width: @tablet-width) {
.posts__wrapper {
    background-image: url("../img/tablet/cp_background_tablet.jpg");
    background-repeat: no-repeat;
    background-position: 0 -70px;
    margin-bottom: 92px;
  }
}

@media (min-width: @tablet-width) {
  .posts__title {
    font-size: 50px;
    padding-top: 71px;
    padding-bottom: 140px;
  }
}

@media (min-width: @tablet-width) {
  .posts__description {
    text-align: center;
    padding: 0 60px;
    font-size: 18px;
  }
}

@media (min-width: @tablet-width) {
  .posts__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: @tablet-width) {
  .posts {
    margin-bottom: 15px;
  }
}

// /*Стили для пк*/
//
// @media (min-width: @desktop-width) {
//   .posts__container {
//     width: 1200px;
//   }
// }
//
// @media (min-width: @desktop-width) {
//   .posts__title {
//     background-image: url("../img/desktop/bg-back-desktop@1x.jpg");
//     background-size: 1200px 853px;
//   }
// }
//
// @media (min-width: @desktop-width) {
//   .posts__list {
//     display: flex;
//     flex-wrap: wrap;
//   }
// }
