.posts__container {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.posts__title {
  background-image: url("../img/cp_background_mobile.jpg");
  padding: 0;
  margin: 0;
  padding: 0 30px;
  padding-bottom: 85px;
  padding-top: 100px;
  color: @base-color;
  text-align: center;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 100;
}

.posts__description {
  text-align: center;
  padding: 0 40px;
  line-height: 30px;
}

.posts__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
